@{
    ViewData["Title"] = "Sacar";
}
<form method="POST" action="Sacar">
    <h4>Saque</h4>
    <div class="form-group">
        <label for="exampleInputEmail1">Digite um valor para sacar</label>
        <input class="form-control" type="text" type="text" id="c" placeholder="" name="c">
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Sacar" class="btn btn-primary" />
        </div>
    </div>
</form>
